@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.container{
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .6rem;
    background: rgba(0, 0, 0, 0.815);
    color: white;
    min-height: 100vh;
    text-align: center;
}
.container>div{
    margin: 10rem 0px;
}
h1{
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}
.date-container{
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 1.6rem 0px;
}
#countdown-title{
    text-transform: uppercase;
}
button{
    border: none;
    font-size: .8rem;
    cursor: pointer;
    padding: 4px;
    margin: 1.3rem 0px 0px;
}
input[type='text']{
    border: 1px solid rgb(82, 82, 82);
    background: none;
    padding: 4px;
    color: white;
    font-weight: 500;
}
button:focus, input:focus{
    outline: none;
}
.time-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 2rem 0px;
}
.lg-text{
    font-size: 5rem;
    font-weight: 600;
}
.md-text{
    font-size: 3rem;
    font-weight: 600;
}
.sm-text{
    font-size: 1rem;
    font-weight: 600;
}
.time-element{
    text-align: center;
    position: relative;
    margin: 0px 1rem;
}
.time-element span{
    font-size: 1.2rem;
}
.hide{
    display: none;
}